{% extends 'base.html.twig' %}

{% block title %}Accueil - {{ parent() }} {% endblock %}

{% block body %}

    <div class="d-flex flex-colum w-25 h-25 m-auto mt-3 card align-items-center">
        <img src="{{ asset('assets/img/Upload.jpg') }}" alt="img" class="w-100">
        <h1 class="">Vu du ciel</h1>
    </div>

{% endblock %}
