{% extends 'base.html.twig' %}

{% block title %}Page TimeController - {{ parent() }} {% endblock %}

{% block body %}
    <h1>Afficher la date, l'heure, les minutes et les secondes</h1>
    <a href="{{ path('app_show') }}">Afficher le temps</a>
{% endblock %}
