{% extends "base.html.twig" %}

{% block title %}Timer - {{ parent() }}{% endblock %}

{% block body %}

    <div class="w-75 m-auto text-center mt-5">
        <h1>{{ timer }}</h1>

        <a class="btn btn-primary" href="{{ path('app_time')}}">Retour</a>
    </div>
    
{% endblock %}