{% extends 'base.html.twig' %}

{% block title %}Recherche - {{ parent() }} {% endblock %}

{% block body %}

<form class="input-group w-50 m-auto mt-5" method="get" action="{{ path('app_search_show') }}">

  <input type="search" class="form-control rounded" placeholder="Entrer une recherche" name="search" value="{{ app.request.get('search') }}"/>
  <button type="submit" class="btn btn-outline-primary">Recherche</button>

</form>


{% endblock %}
