{% extends 'base.html.twig' %}

{% block title %}Recherche - {{ parent() }} {% endblock %}

{% block body %}

<div class="input-group w-50 m-auto mt-5">
  <input type="search" class="form-control rounded" placeholder="Entrer une recherche"/>
  <button type="button" class="btn btn-outline-primary">Recherche</button>
</div>

{% endblock %}
