{% extends "base.html.twig" %}

{% block title %} Résultat Recherche - {{ parent() }} {% endblock %}

{% block body %}

<div class="w-75 m-auto text-center mt-5">
    
    <h2>Résultat : {{ result }}</h2>
    <a class="btn btn-primary" href="{{ path('app_search')}}">Retour</a>

</div>


{% endblock %}