{% extends 'base.html.twig' %}

{% block title %}Artciles - {{ parent() }} {% endblock %}

{% block body %}

<h1>Liste d'articles</h1>
<div>
    <ul>
        {% for item in items %}
            <li>{{ item.title }}</li>
            
        {% endfor %}
    </ul>
</div>
{% endblock %}
