{% extends 'base.html.twig' %}

{% block title %}Page Color - {{ parent() }} {% endblock %}

{% block body %}

    <h1>Affiche une couleur à l'écran dynamiquement</h1>

    <ul>
        {% for color in colors %}
            <li>
                <a href="{{ path('app_show_color', { color : color }) }}">{{ color }}</a>
                
            </li>
        {% endfor %}
    </ul>

{% endblock %}
