{% extends 'base.html.twig' %}

{% block title %}Page Color - {{ parent() }} {% endblock %}

{% block body %}

    <h1>Affiche une couleur à l'écran dynamiquement</h1>

    <ul>
        <li><a href="">Blue</a></li>
        <li><a href="">Red</a></li>
    </ul>

{% endblock %}
